body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    background: #3b5998;
    width: 100%;
    height: 85px;
}
.logo{
    width: 50%;
    padding: 32px;
    float: left;
    height: 20px;
}
.login{
    width: 40%;
    float: left;
    padding-top: 10px;
    height: 20px;
}
.logo-text{
    color: white;
    font-size: 35px;
    font-weight: bold;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 170px;
}
.login-label{
    color: white;
    font-size: 11px; 
}
.login-controls{
    margin-left: 115px;
}
.forgotten{
    color: #9cb4d8;
    font-size: 11px;
    text-decoration: none;
}
.submit-btn{
    background: #4267b2;
    color: white;
    height: 20px;
    border-color: #28497d;
    cursor: pointer;
}
.submit-btn:hover{
    background: turquoise;
}
.left-section{
    width: 50%;
    float: left;
    padding-left: 130px;
    padding-top: 50px;
}
.right-section{
    width: 40%;
    float: left;
}
.main-body{
    background: linear-gradient(white,#D3D8E8);
    width: 100%;
    height: 700px;
}
.image{
    width: 600px;
}
.para{
    font-weight: bold;
    font-size: 21px;
    margin: 0;
}
.create{
    font-size: 35px;
    font-weight: bold;
    margin: 5px;
    margin-top: 30px;
}
.c1{
    font-size: 20px;
    font-weight: bold;
    margin: 5px;
}
.input1{
    height: 24px;
    width: 200px;
    border-style: none;
    outline: none;
    border-radius: 5px;
    font-size: 15px;
    border-color: rgb(193 193 193);
    float: left;
    margin-left: 10px;
    margin-top: 5px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.input2{
    height: 24px;
    width: 422px;
    border-style: none;
    border-radius: 5px;
    font-size: 15px;
    border-color: rgb(193 193 193);
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.bday{
    margin: 5px;
    font-weight: bold;
    font-size: 15px;
    color: rgb(105, 97, 97);
    margin-top: 15px;
    margin-left: 5px;
}
.bselect{
    height: 30px;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 5px;
}
.gender{
    font-weight: bold;
    margin-left: 5px;
}
.policy{
    font-weight: initial;
    font-size: 12px;
    color: grey;
    margin-left: 5px;
}
.signup{
    margin-top: 10px;
    background: #104e10;
    color: #fff;
    height: 40px;
    width: 200px;
    border-radius: 5px;
    font-size: 21px;
    border-color: #265826;
    font-weight: bold;
    margin-left: 5px;
}
.footer{
    width: auto;
    height: 150px;
    padding-top: 50px;
    padding-left: 150px;
    font-size: 12px;
}

.lang{
    text-decoration: none;
    color: #4267b2;
    font-size: 10px;
}
.fl{
    text-decoration: none;
    color: #4267b2;
    font-size: 10px;
    font-weight: bold;
}
.fb{
    color: darkgrey;
    font-size: 10px;
}
.sel{
    appearance: none;
    width: 30px;
    height: 20px;
    font-size: 18px;
    text-align: center;
    color: grey;
    border-color: grey;
}
